* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    align-items: center;
    padding: 20px;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

a,
.text {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: normal;

}

.header-items {
    display: flex;
    gap: 32px;

}

.top-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 40px 0;
} 

.main-title {
    max-width: 525px;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder; 
}

.signup {
    padding: 8px 30px;
    background-color: #3882f6;
    border: 0;
    border-radius: 8px;
    color: white;  

}



.content-header {
    text-align: center;
    padding: 20px 0;
    font-size: 32px;
}

.objects {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}

.boxes{
    min-width: 150px;
    max-width: 150px;
}

.box {
    min-height: 120px;
    border: 2px solid #3882f6;
    flex-shrink: 0;
    flex-grow: 1;
    border-radius: 11px;
    margin: 10px;
    
}
.items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
 
    } 

.list-text {
    text-align: center;
   
}
